/*https://fonts.google.com/specimen/Titillium+Web*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

:root {
	--mClBase			: #f5f5f5;	/*背景色（全体）*/
	--mClOff			: #c0c0c0;	/*ボタン：OFF*/
	--mClOn				: #7fffd4;	/*ボタン：ON*/
	--mClRowAnim		: #f0f8ff;	/*アニメーション行*/
	--mClRowVar			: #e0ffff;	/*バリエーション背景*/
	--mClCurHover		: #e6e6fa;	/*カーソル行：Hover*/
	--mClCurPlayOn		: #b0c4de;	/*カーソル行：再生中*/
	--mClCurPlayOff		: #a9a9a9;	/*カーソル行：停止*/
	--mClGroupClose		: #2f4f4f;	/*グループ行：閉じている*/
	--mClGroupOpen		: #008080;	/*グループ行：開いている*/
	--mClGroupOpenHigher	: #008080;	/*グループ行：開いている*/
	--mClGroupCloseHigher	: #2f4f4f;	/*グループ行：閉じている*/
	--mClDisabled			: #a9a9a9;
	}

*{
	margin:0;
	padding:0;
	font-family: 'Dosis', sans-serif,'Helvetica', arial, sans-serif;
	}
legend {
	padding: 0 10px;
	font-size:1.0em;
	}
body {
	background-color: var(--mClBase);
	}

input[type=radio].csPoseRdo {display: none;}
input[type=checkbox].csGroupChk,input[type=checkbox].csVarBtn,input[type=checkbox]#playBtn {display: none;}

select {
	padding: 5px;
	border-radius: 2.5px;
	font-size:1.0em;
	}

#dPoseTreeList,#dPoseFlatList {
	height: 100vh;
	width: 100%;
	overflow:hidden;
	overflow-y:scroll;
	}
#dPoseTreeList {display: block;}
#dPoseFlatList {display: none;}

.csCmnLbl{
	display: inline-flex;
/*	font-weight: bold;*/
	align-items: center;
	margin: 0 auto;
	padding: 0.5em 0em 0.5em 1em;
	border:solid 1px;
	}
.csBtnCmnLbl{
	display: inline-block;
	/*padding:0.2em 0.5em;*/
	padding:5px 5px;
	font-weight: bold;
	font-size:1.2em;
	}
.csGroupCmnLbl{
	display: flex;
	font-size: 1.2em;
	color:white;
}
.csGroupLbl1,.csGroupLbl2{background-color: var(--mClGroupClose);}
.csHigherGroupLbl{background-color: var(--mClGroupCloseHigher);}
/*.csGroupWaku,.csHigherGroupWaku{border:solid 1px black;}*/
.csGroupChk:checked + .csHigherGroupLbl{background-color: var(--mClGroupOpenHigher);}
.csGroupChk:checked + .csGroupLbl1,.csGroupChk:checked + .csGroupLbl2{background-color: var(--mClGroupOpen);}
.csPoseLbl:hover , .csVarLbl:hover {background-color: var(--mClCurHover);}
.csPoseRdo:checked + .csPoseLbl , .csPoseRdo:checked + .csVarLbl{background-color: var(--mClCurPlayOn);}
.csPoseLbl{
	display: flex;
	justify-content: space-between;
	padding: 0.6em 0.3em 0.6em 1em;
	font-size: 1.2em;
	font-weight: bold;
	border:0;
	background-color: var(--mClRowAnim);
	transition: 0.2s;
}
.displayLabel{
/*	font-weight: normal;*/
/*	font-size: 1.0em;*/
}

#btnGroup[disabled] + .groupLabel
,#btnVariation[disabled] + .variationLabel
,#timerOn[disabled] + .csTimerLbl
,#playBtn[disabled] + .csPlayLbl
,#btnTree[disabled] + .displayLabel
,#btnFlat[disabled] + .displayLabel{
	color: var(--mClDisabled);
}
#btnGroup,#btnVariation,#timerOn{
	margin: 0 0 0 1em;
	padding: 0;
}

.csInGroupLbl{margin:0 0 0 0.5em;}
.csNoGroupLbl1{margin:0 0 0 0em;}
.csNoGroupLbl2{margin:0 0 0 0.5em;}
.csGroupLbl1{margin:0 0 0 0em;}
.csGroupLbl2{margin:0 0 0 0.5em;}

.csVarLbl{
	margin: 0;
	padding: 0.5em 0.75em;
	font-size: 1.1em;
	font-weight: bold;
	border:0;
	background-color: var(--mClRowVar);
	transition: 0.2s;
	border-style: solid;
	border-width: 0.5px 2.0px 2.0px 0.5px;
	border-radius: 10px;
	}

#playBtn:checked + .csPlayLbl{
	background-color: var(--mClOn);
	}

.csPlayLbl{
	font-weight: bold;
	background-color: var(--mClOff);
	user-select: none;
	border-radius: 5px;
	border:solid 2px;
	padding:5px 20px;
	}

.csActBtn {
	padding: 5px 10px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 1.1em;
	}
.csMiniBtn{
	}
.csDetachBtn{
	}

.csVarOne{
	}
.csVarDiv1{
	padding: 0;
	margin: 0.2em 0.2em 0.2em 2.25em;
	}
.csVarDiv2{
	padding: 0;
	margin: 0.2em 0.2em 0.2em 2.5em;
	}

.csVarBtnLbl {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border-style: solid;
	border-width: 2.0px 2.0px 1.0px  1.0px;
	border-color: #696969 #696969 #a9a9a9 #a9a9a9;
	background-color:#b0c4de;
	border-radius: 5px;
	}
.csVarBtn + .csVarBtnLbl{transform: rotate(135deg);}
.csVarBtn:checked + .csVarBtnLbl{transform: rotate(315deg);}

#idMain{
	width:100%;
	}
#idCtrl{
	display: flex;
	width:100%;
}
.csNoWakuLeft{
	margin: 2px;
	padding: 0px;
	width:65%;
	float:left;
	}
#selCreatorIdx{
	margin: -10px 10px 5px 10px;
	}
#selTimer{
	margin: 0px 10px 5px 10px;
	}

.groupLabel{
	margin: -10px 0 0 0;
}
#idFlatCtrl{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	}
#searchText{
	display: flex;
	margin: -10px 0 0 0;
	border-radius: 2.5px;
	font-size:1.1em;
	padding: 0 0 0 0.5em;
	width: 80%;
	}

.csNoWakuRight{
	margin:0 2px;
	padding: 0px 0px 5px 5px;
	width:35%;
	float:right;
  	}

.csWaku{
	border-radius: 10px;
	border:solid 1px;
	margin: 2px 2px 5px 2px;
	padding:5px;
	}
fieldset.csWaku{
	margin:0;
	}
fieldset.csCtrl{
	}

#idWakuCreator{
	text-align: right;
	padding: 10px;
	}
#idWakuCursor{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	}

.csCtrl{
	border: 0;
	display: flex;
	flex-wrap: nowrap;
	}
.csCtrlIn{
	border:0;
	margin:0 0 0 0.5em;
	}
.csCursorIn{
	display: flex;
	justify-content: space-evenly;
	border: 0;
	width: 100%;
	flex-wrap: nowrap;
	}
.csTimerIn{
	border: 0;
	margin: -10px 0 0 0;
	}
#idMessage{
	border:0;
	padding: 30px 15px;
	width:90%;
	}
#progBar{
	width:100%;
	}
#selCreatorIdx > option:first-child{
	background:#ffd700;
	color:red;
}
.csHide{
	display:none;
	}
