/*https://fonts.google.com/specimen/Titillium+Web*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

:root {
	--mClBase			: #f5f5f5;	/*背景色（全体）*/
	--mClOff			: #c0c0c0;	/*ボタン：OFF*/
	--mClOn				: #7fffd4;	/*ボタン：ON*/
	--mClRowAnim		: #f0f8ff;	/*アニメーション行*/
	--mClRowVar			: #e0ffff;	/*バリエーション背景*/
	--mClCurHover		: #e6e6fa;	/*カーソル行：Hover*/
	--mClCurPlayOn		: #b0c4de;	/*カーソル行：再生中*/
	--mClCurPlayOff		: #a9a9a9;	/*カーソル行：停止*/
	--mClGroupClose		: #2f4f4f;	/*グループ行：閉じている*/
	--mClGroupOpen		: #008080;	/*グループ行：開いている*/
	--mClGroupOpenHigher	: #008080;	/*グループ行：開いている*/
	--mClGroupCloseHigher	: #2f4f4f;	/*グループ行：閉じている*/
	--mClDisabled			: #a9a9a9;
	--mClIcon		:black;
	--mClIconSearch	:black;
	--ggs:1.5;
	--mWidthIcon	:1.5px;
	}

*{
	margin:0;
	padding:0;
	font-family: 'Dosis', sans-serif,'Helvetica', arial, sans-serif;
	}
legend {
	padding: 0 10px;
	font-size:1.0em;
	}
body {
	background-color: var(--mClBase);
	}

input[type=radio].csPoseRdo {display: none;}
input[type=checkbox].csGroupChk,input[type=checkbox].csVarBtn,input[type=checkbox]#playBtn {display: none;}




#btnTree {display: none;}

select {
	padding-left: 0.2em;
	padding-right: 0.2em;
	border-radius: 10px;
	font-size:1.2em;
	}

#dPoseTreeList,#dPoseFlatList{
	height: 100vh;
	width: 100%;
	overflow:hidden;
	overflow-y:scroll;
	}
.csTreeCommon,.csFlatCommon{
	padding:0;
	margin:0;
	width:100%;
	}
.csTreeCommon {display: block;}
.csFlatCommon {display: none;}

.csCmnLbl{
	display: inline-flex;
	align-items: center;
	margin: 0 auto;
	padding: 0.5em 0em 0.5em 1em;
	border:solid 1px;
	}
.csBtnCmnLbl{
	display: inline-block;
	font-size:1.2em;
	}
.csGroupCmnLbl{
	display: flex;
	font-size: 1.2em;
	color:white;
}
.csGroupLbl1,.csGroupLbl2{background-color: var(--mClGroupClose);}
.csHigherGroupLbl{background-color: var(--mClGroupCloseHigher);}
.csGroupChk:checked + .csHigherGroupLbl{background-color: var(--mClGroupOpenHigher);}
.csGroupChk:checked + .csGroupLbl1,.csGroupChk:checked + .csGroupLbl2{background-color: var(--mClGroupOpen);}
.csPoseLbl:hover , .csVarLbl:hover {background-color: var(--mClCurHover);}
.csPoseRdo:checked + .csPoseLbl , .csPoseRdo:checked + .csVarLbl{background-color: var(--mClCurPlayOn);}
.csPoseLbl{
	display: flex;
	justify-content: space-between;
	padding: 0.6em 0.3em 0.6em 1em;
	font-size: 1.2em;
	font-weight: bold;
	border:0;
	background-color: var(--mClRowAnim);
	transition: 0.2s;
}
.displayLabel{
}

#btnGroup[disabled] + .groupLabel
,#btnVariation[disabled] + .variationLabel
,#timerOn[disabled] + .csTimerLbl
,#playBtn[disabled] + .csPlayLbl
,#btnTree[disabled] + .displayLabel
,#btnSay[disabled] + .sayLabel{
	color: var(--mClDisabled);
}


/*グループ外*/
/*上位グループ直下*/
.csNoGroupLbl1{margin-left:0.25em;}
/*下位グループ直下*/
.csNoGroupLbl2{margin-left:0.5em;}

.csGroupLbl1{margin-left:0.25em;}
.csGroupLbl2{margin-left:0.5em;}
/*上位グループ直下*/
.csInGroupLbl1{margin-left:0.25em;}
/*下位グループ直下*/
.csInGroupLbl2{margin-left:0.5em;}

.csVarLbl{
	margin: 0;
	padding: 0.5em 0.75em;
	font-size: 1.1em;
	font-weight: bold;
	border:0;
	background-color: var(--mClRowVar);
	transition: 0.2s;
	border-style: solid;
	border-width: 0.5px 2.0px 2.0px 0.5px;
	border-radius: 10px;
	}

#playBtn:checked + .csPlayLbl{
	background-color: var(--mClOn);
	}

.csPlayLbl{
	font-weight: bold;
	background-color: var(--mClOff);
	user-select: none;
	border-radius: 5px;
	border:solid 2px;
	padding:5px 10px;
	}

.csActBtn {
	padding: 2.5px 10px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 1.1em;
	}
.csMiniBtn{
	}
.csDetachBtn{
	}

.csVarOne{
	}

/*todo:ここの差異は必要か*/
.csVarDiv1{
	padding: 0;
	margin: 0.2em 0.2em 0.2em 2.25em;
	}
.csVarDiv2{
	padding: 0;
	margin: 0.2em 0.2em 0.2em 2.5em;
	}

.csVarBtnLbl {
	margin: 0;
	padding: 0;
	width: 20px;
	height: 20px;
	border-style: solid;
	border-width: 2.0px 2.0px 1.0px  1.0px;
	border-color: #696969 #696969 #a9a9a9 #a9a9a9;
	background-color:#b0c4de;
	border-radius: 5px;
	}
.csVarBtn + .csVarBtnLbl{transform: rotate(135deg);}
.csVarBtn:checked + .csVarBtnLbl{transform: rotate(315deg);}

#idMain{
	width:100%;
	}

#idCtrl{
	display: flex;
	flex-wrap: nowrap;
	width:100%;
}
.csNoWakuLeft{
	margin: 2px;
	width:auto;
	}

.csNoWakuRight{
    margin-right: 0px;
    margin-left: auto;
	width:150px;
  	}

.csWaku{
	border-radius: 10px;
	border:solid 1px;
	margin: 2px 2px 5px 2px;
	padding:5px;
	}
fieldset.csWaku{
	margin:0;
	}
fieldset.csCtrl{
	}

.csCtrl{
	border: 0;
	display: flex;
	flex-wrap: nowrap;
	}
.csCtrlIn{
	border:0;
	margin-left:0.5em;
	}
#idMessage{
	border:0;
	padding: 30px 15px;
	width:90%;
	}
#progBar{
	width:100%;
	}
#selCreatorIdx > option:first-child{
	background:#ffd700;
	color:red;
}
.csHide{
	display:none !important;	/*製作者の指定に負けるのでimportantをつける*/
	}
.csGroupTag{
	display:block;
	}

/*矢印ボタン*/
/*共通部分*/
.csIconWaku {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	width: 22px;
	height: 22px;
	border: var(--mWidthIcon) solid;
	transform: scale(var(--ggs,1));
	border-radius: 4px;
	border-color: var(--mClIcon);
	margin:6px;
}

.gg-arrow-down-r::after {
	width: 6px;
	height: 6px;
	border-bottom: var(--mWidthIcon) solid;
	border-left: var(--mWidthIcon) solid;
	transform: rotate(-45deg);
	left: 6px;
	border-color: var(--mClIcon);
}

.gg-arrow-down-r::before {
	width: 2px;
	height: 10px;
	left: 8px;
	background: currentColor;
}
/*最下*/
.gg-push-chevron-down-r::after,
.gg-push-chevron-down-r::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	border-bottom: var(--mWidthIcon) solid;
	border-color: var(--mClIcon);
}

.gg-push-chevron-down-r::before {
	bottom: 5px;
	width: 8px;
	height: 2px;
	left: 5px;
}

.gg-push-chevron-down-r::after {
	width: 6px;
	height: 6px;
	border-right: var(--mWidthIcon) solid;
	transform: rotate(45deg);
	left: 6px;
	top: 3px;
	border-color: var(--mClIcon);
}

/*最上*/
.gg-push-chevron-up-r::after,
.gg-push-chevron-up-r::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	border-top: var(--mWidthIcon) solid;
	border-color: var(--mClIcon);
}

.gg-push-chevron-up-r::before {
	top: 5px;
	width: 8px;
	height: 2px;
	left: 5px;
}

.gg-push-chevron-up-r::after {
	width: 6px;
	height: 6px;
	border-right: var(--mWidthIcon) solid;
	transform: rotate(-45deg);
	left: 6px;
	bottom: 3px;
	border-color: var(--mClIcon);
}

/*下*/
.gg-chevron-down-r::after {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	width: 6px;
	height: 6px;
	border-bottom: var(--mWidthIcon) solid;
	border-right: var(--mWidthIcon) solid;
	transform: rotate(45deg);
	left: 6px;
	top: 5px;
	border-color: var(--mClIcon);
}


/*上*/
.gg-chevron-up-r::after {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	width: 6px;
	height: 6px;
	border-top: var(--mWidthIcon) solid;
	border-right: var(--mWidthIcon) solid;
	transform: rotate(-45deg);
	left: 6px;
	bottom: 5px;
	border-color: var(--mClIcon);
}


/*×*/
.gg-close-r::after,
.gg-close-r::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	width: 12px;
	height: 2px;
	background: var(--mClIcon);
	transform: rotate(45deg);
	border-radius: 5px;
	top: 8px;
	left: 3px;
}

.gg-close-r::after {
	transform: rotate(-45deg)
}

/*最小化*/
.gg-remove-r::before {
	content: "";
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	width: 10px;
	height: 2px;
	background: var(--mClIcon);
	border-radius: 5px;
	top: 8px;
	left: 4px;
}

.csNoWaku{
	display: flex;
	flex-wrap: nowrap;
	width:100%;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#idWakuCreator{
	padding: 10px 5px 2px 5px;
	}
#idWakuCreatorIn{
	text-align: right;
	border:0;
	margin-top:-10px;
	padding:0;
	}
#idCreatorListSet{
	width:100%;
	justify-content: flex-end;
}
#selCreatorIdx{
	margin-right:10px;
	}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
/* Tree/Flat切替	*/
.csTreeSwitch {
	line-height: 1.1em;
	position: relative;
	margin: auto 0.2em;
	width: 66px;
	font-size:1.1em;
}

#btnTree {
	display: none;
}

.csTreeSwitch label {
	display: block;
	box-sizing: border-box;
	height: 1.4em;
	border: 1.5px solid black;
	border-radius: 5px;
	padding:5px 5px;
	}

.csTreeSwitch label span:after{
	content: "Flat";
	padding: 0 0 0 20px;
	}

.csTreeSwitch  input[type="checkbox"]:checked + label span:after{
	content: "Tree";
	padding: 0 20px 0 0;
	}

#idTreeSwitchBtn {
	position: absolute;
	width: 12px;
	height: 1.3em;
	background: black;
	top: 4px;
	left: 4px;
	border-radius: 5px;
	transition: .2s;
	}

#btnTree:checked ~ #idTreeSwitchBtn {
	transform: translateX(46px);
	}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#idWakuCursor{
	margin: 2px;
	padding:2px;
	display: flex;
	flex-wrap: nowrap;
	}
.csCursorIn{
	display: flex;
	flex-wrap: nowrap;
	margin-left:auto;
	margin-right:0.2em;
	}

#selTimer{
	margin-right:0.2em;
	}
#timerOn,#btnGroup,#btnVariation{
	display:none;
	}

.groupLabel,.variationLabel,.csTimerLbl{
	font-weight: bold;
	background-color: var(--mClOff);
	user-select: none;
	border-radius: 5px;
	border:solid 2px;
	padding:2px 4px;
	margin-left:2px;
	margin-right:2px;
	height:1.1em;
	font-size:1.2em;
	}
.csTimerLbl{
	margin-top:3px;
	}

#timerOn:checked + .csTimerLbl
,#btnGroup:checked + .groupLabel
,#btnVariation:checked + .variationLabel{
	background-color: var(--mClOn);
	}



/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#idListType{
	margin: 0px;
	padding:0px;
	display: flex;
	flex-wrap: nowrap;
	}
#idListTypeInnerCtrl{
	display: flex;
	flex-wrap: nowrap;
	width:150px;
	}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#idWakuTreeInner{
	display: flex;
	justify-content: center;
	border: 0;
	margin: 0;
	padding: 0.2em;
	width: 100%;
	flex-wrap: nowrap;
	}

#btnGroup,#btnVariation{
	margin-top:10px;
	padding: 0;
}

.groupLabel,.variationLabel,.csTimerLb{
	/*margin-top:-5px;*/
}


/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
#idWakuFlatInner{
	padding: 0.2em;
	width: 100%;
	}

/*絞り込み*/
#searchText{
	border-radius: 5.0px;
	padding-left:0.5em;
	padding-right:0.5em;
	width: 100%;
/*	margin-right:10px;*/
	font-size:1.2em;
	}
